{% extends "base.html" %}
{% block main %}
<div class="jumbotron">
  <h2>Global Sensitivity Analysis</h2>
  <p class="lead">Sensi Framework allows you to examine the global sensitivity indices of various VPH models using a simple bash framework tailored to execute on HPC infrstructures</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4><a href="/ishigami">Ishigami Model</a></h4>
    <p>The Ishigami function of Ishigami &amp; Homma (1990) is used as an example for uncertainty and sensitivity analysis methods, because it exhibits strong nonlinearity and nonmonotonicity. It also has a peculiar dependence on x3, as described by Sobol' &amp; Levitan (1999).</p>

    <h4><a href="/zeroVFFR">0D vFFR Model</a></h4>
    <p>The OD-vFFR model is an electrical analogue model describing the circulation in the human body.</p>

  </div>

  <div class="col-lg-6">
    <h4><a href="/oneVFFR">1D vFFR Model</a></h4>
    <p>The 1D-vFFR model is an electrical analogue model describing the circulation in the human body. It include an idealised virtual 1D human circulation network used to compute flow and pressures.</p>

  </div>
</div>
{% endblock %}
