{% extends "base.html" %}
{% block main %}
<div class="jumbotron">
  <h2>Global Sensitivity Analysis</h2>
  <p class="lead">Sensi Framework allows you to examine the global sensitivity indices of various VPH models using a simple bash framework tailored to execute on HPC infrstructures</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4><a href="/ishigami">Ishigami Model</a></h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4><a href="/zeroVFFR">0D vFFR Model</a></h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

  </div>

  <div class="col-lg-6">
    <h4><a href="/oneVFFR">1D vFFR Model</a></h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

  </div>
</div>
{% endblock %}
